body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1;
    height: 100vh;
}
.button_half{
    width: 50%;
    background-color: #4d5855;
    padding: 20px;
    display: flex;
}
h1 {
    text-align: center;
}
.main_h1{
    color: #fff;
}
.button_holder{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}
button {
    margin: 10px;
    border-radius: 8px;
    padding: 10px 25px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #4d5855;
    width: 162px;
}
/* button:focus:{

} */

#content {
    width: 50%;
    padding: 20px;
    background-color: #f0debf;
    overflow-y: auto;
    /* background-color: #fff; */
}
.worker{
    display: flex;
    padding: 6px 0;
    /* border-bottom: 0.5px solid #f3fdff; */
    cursor: pointer;
}
.pfp{
    background-color: #f3fdff;
    border-radius: 100%;
    width: 56px !important;
    height: 56px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
}
.info{
    display: block;
    padding-left: 10px;
    align-self: center;
}
.name{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
.additional_info{
    font-size: 15px;
}
p{
    margin: 0;
}
.task_container{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.time{
    align-self: center;
    margin-left: 20px;
    color: #fff;
}
.header_p{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
#txt{
    font-size: 27px;
    margin-top: 5px;
    font-weight: 500;
}
#date{
    font-weight: 600;
}